<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="watchers" type="FileSystemWatcherService.WatchersConfig, FileSystemWatcherService"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>

	<watchers>
		<watcher path="D:\Temp" filter="*.txt" notifyFilter="LastWrite" changed="true">
			<![CDATA[
				$event | ConvertTo-Json >> Out1.txt
			]]>
		</watcher>
		<watcher path="D:\Temp" filter="*.dns" notifyFilter="FileName" created="true">
			<![CDATA[
				$event | ConvertTo-Json >> Out.txt
			]]>
		</watcher>
		<watcher path="D:\Temp" notifyFilter="DirectoryName" created="true">
			<![CDATA[
				$event | ConvertTo-Json >> Out.txt
			]]>
		</watcher>
		<watcher path="D:\Temp" notifyFilter="DirectoryName" deleted="true">
			<![CDATA[
				$event | ConvertTo-Json >> Out.txt
			]]>
		</watcher>
	</watchers>
</configuration>